# IDEs
.idea/
.vscode/

# Python / Virtual Environment
__pycache__/
*.pyc
venv/
.venv/
env/
.env

# Logs y Archivos de Salida
logs/*.log
output/
# Archivos generados por pytest / coverage
.coverage
.pytest_cache/
