beautifulsoup4==4.14.3
cfgv==3.5.0
charset-normalizer==3.5.2
distlib==0.4.3
filelock==4.0.7
identify==2.6.20
nodeenv==1.11.0
packaging==26.3
pillow==12.3.0
platformdirs==4.12.2
pre_commit==4.6.2
python-discovery==1.6.1
python-dotenv==1.2.3
PyYAML==6.0.3
pytest==9.0.2
pytest-cov==7.0.0
reportlab==5.0.1
requests==2.32.5
virtualenv==21.14.1
openai==3.24.0
pytest-mock==3.16.0